<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C505B3796AF4AD091173BAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E8646223FA4437895E1A765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16FF7D9CF16D485C9EA6D734</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>260063510C0E4A00AA4A0B82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>288BC7CE12A54B568EC58515</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30A600390697458F82C1C74B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>322137483AB44D60BA55F44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35C6C08CAA6F4C86A47166B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3855DD9BC52142468D5C0240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B81A895C52541C695AD111E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4440E45B6F634FBBB4C80EFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47E5A2DEB65148CEA2EFB36D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4967EE64E417400A8566FE27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>575448ED92ED4232B68CBD04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5847EFD6A46346F0871FC333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58CCE5B18CF64CA799D3631A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>625745C2F27D416D8A8D834D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>656ED7E2A3F6410A8D09764F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C3C7C5F5AD94B38B3DD9B2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D628E3BD64E4B2EB86A86D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F98E649567A46489CF6FE4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F9CA1E69CED496CBAD147C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A24F9814BF06491EB2F29BDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A789F93F0BDA4D3390B5C89E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B20E02CD261F499F963E029B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4B64991DD7C48779921FB6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA1DB68AE6EF4F2F90C43F4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB271072B5954BB1A6EDD0D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC62792B3CB44C7A9C60C816</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0146561DEC64AC782945F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDEC62AD64B04752BDD8860C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E86754B093F44902B00984B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F80CB90C72CF4FE6B188A8F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
